body {
    font-family: Arial, sans-serif;
    background-color: #EFECE7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 40px;
}

.con {
    background-image: url('../images/reset_pas_bg.png');
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #4a362a;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


label {
    display: none;
}

input[type="email"],
input[type="text"] {
    width: 100%; /* Adjusted width for responsiveness */
    max-width: 250px; /* Added max-width for larger screens */
    padding: 10px;
    margin-right: 0; /* Removed margin-right */
    margin-bottom: 10px; /* Added margin-bottom for spacing */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button"],
button[type="submit"] {
    background-color: #fff;
    border: 1px solid #4a362a;
    padding: 10px 20px;
    border-radius: 4px;
    color: #4a362a;
    cursor: pointer;
    width: 100%; /* Adjusted width for responsiveness */
    max-width: 250px; /* Added max-width for larger screens */
}

.verify-button {
    margin-top: 20px;
    width: 100%; /* Adjusted width for responsiveness */
    max-width: 250px; /* Added max-width for larger screens */
}

.info-text {
    color: #aaa;
    margin-top: 20px;
    font-size: 0.9em;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #4a362a;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

/* Media Queries for responsiveness */

@media screen and (max-width: 768px) {
    input[type="email"],
    input[type="text"],
    button[type="button"],
    button[type="submit"],
    .verify-button {
        max-width: 100%; /* Adjusted max-width for smaller screens */
    }
}
